In [1]:
import numpy as np
import pandas as pd

In [23]:
#index level
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
heir_index = list(zip(outside, inside))
heir_index1 = pd.MultiIndex.from_tuples(heir_index)

In [20]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [21]:
heir_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [24]:
heir_index1

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [31]:
f = pd.DataFrame(np.random.randn(5,4), heir_index1, ['A', 'B']) # check this error.

ValueError: Shape of passed values is (5, 4), indices imply (6, 2)

In [29]:
df = pd.DataFrame(np.random.randn(6,2), heir_index1, ['A', 'B'])

In [30]:
df

             A         B
G1 1 -0.853878 -0.053178
   2 -0.506087  1.087264
   3  1.547557  0.000835
G2 1  0.106494 -0.656909
   2  0.024394 -1.261838
   3  0.380172  0.532320

In [32]:
df.loc['G1']

          A         B
1 -0.853878 -0.053178
2 -0.506087  1.087264
3  1.547557  0.000835

In [33]:
df.loc['G1'].loc[1]

A   -0.853878
B   -0.053178
Name: 1, dtype: float64

In [34]:
df.index.names

FrozenList([None, None])

In [36]:
df.index.names = ['Groups', 'Num']

In [37]:
df

                   A         B
Groups Num
G1     1   -0.853878 -0.053178
       2   -0.506087  1.087264
       3    1.547557  0.000835
G2     1    0.106494 -0.656909
       2    0.024394 -1.261838
       3    0.380172  0.532320

In [39]:
df.loc['G2'].loc[2]['B']

-1.2618377958669877

In [40]:
df.xs('G1') # CROSS SECTION.

            A         B
Num
1   -0.853878 -0.053178
2   -0.506087  1.087264
3    1.547557  0.000835

In [41]:
df.xs(1,level = 'Num') # this can be done by loc but it is tricky.

               A         B
Groups
G1     -0.853878 -0.053178
G2      0.106494 -0.656909