In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [13]:
df = pd.DataFrame(np.random.randn(5,4), ['A', 'B','C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [14]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [15]:
# W,X,Y,Z these all are Series and they are all sharing the common index.

In [16]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [17]:
type(df['W'])

pandas.core.series.Series

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.W # DON't try to access Series by dot(.). It is used for inbuilt functions of pandas.

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [20]:
print(df[['W', 'Z']]) # if you want to access multiple Series.

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [21]:
df['new'] = df['X'] + df['Y'] # this is used to add new Series to DataFrame.

In [22]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.939845
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584
D  0.147027 -0.479448  0.558769  1.024810  0.079321
E -0.925874  1.862864 -1.133817  0.610478  0.729047

In [26]:
df['extra'] = pd.Series([1,2,3,4,5], ['A', 'B','C','D','E'])

In [27]:
df

          W         X         Y         Z       new  extra
A -0.993263  0.196800 -1.136645  0.000366 -0.939845      1
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177      2
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584      3
D  0.147027 -0.479448  0.558769  1.024810  0.079321      4
E -0.925874  1.862864 -1.133817  0.610478  0.729047      5

In [28]:
df.drop('extra') # this will give you error. By default it looks at index and there is no extra name index in DataFrame.

KeyError: "['extra'] not found in axis"

In [31]:
df.drop('extra', axis = 1)

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.939845
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584
D  0.147027 -0.479448  0.558769  1.024810  0.079321
E -0.925874  1.862864 -1.133817  0.610478  0.729047

In [32]:
df """the Series is still present. it is not deleted from DataFrame. For permanently delete it from Dataframe add an attribute
inplace. """

          W         X         Y         Z       new  extra
A -0.993263  0.196800 -1.136645  0.000366 -0.939845      1
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177      2
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584      3
D  0.147027 -0.479448  0.558769  1.024810  0.079321      4
E -0.925874  1.862864 -1.133817  0.610478  0.729047      5

In [34]:
df.drop('extra', axis = 1, inplace = True) # it will permanently delete extra name Series from Dataframe.

In [35]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.939845
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584
D  0.147027 -0.479448  0.558769  1.024810  0.079321
E -0.925874  1.862864 -1.133817  0.610478  0.729047

In [36]:
df.drop('E')

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.939845
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584
D  0.147027 -0.479448  0.558769  1.024810  0.079321

In [37]:
df.loc['C'] # accessing index means by rows.

W      2.154846
X     -0.610259
Y     -0.755325
Z     -0.346419
new   -1.365584
Name: C, dtype: float64

In [38]:
type(df.loc['C'])

pandas.core.series.Series

In [40]:
df.iloc[2]

W      2.154846
X     -0.610259
Y     -0.755325
Z     -0.346419
new   -1.365584
Name: C, dtype: float64

In [42]:
df.loc['C','Y']

-0.755325340010558